@font-face {
  font-family: "BrittanySignature";
  src: local("BrittanySignature"),
    url(./assets/fonts/BrittanySignature/BrittanySignature.ttf) format(truetype);
}
@font-face {
    font-family: "IndieFlower";
    src: local("IndieFlower"),
    url(./assets/fonts/IndieFlower/IndieFlower-Regular.ttf) format(truetype);
}

:root {
  ---pink: rgba(162, 81, 175, 255);
  ---orange: rgba(250, 131, 97, 255);
  ---orange-shadow: rgba(250, 131, 97, 0.3);
  ---black: rgb(0, 0, 0);
  ---purple: rgb(156, 83, 182, 0.2);
  ---purple-shadow: rgba(162, 81, 175, 0.4);
}

@media screen and (max-width: 450px) and (orientation:portrait) {
  header {
    font-size: 80%;
    height: 15vh;
  }

  .logo_img {
    width: 30%;
  }

  .menu {
    width: 60%;
  }

  .filter_options {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 90%;
    border-bottom: 1px solid var(---orange);
    margin-bottom: 5%;
    padding-bottom: 5%;    
    margin-right: 10%;
  }

  .seller {
    margin-left: 3%;
    margin-right: 6%;
  }

  .filter_reset {
    margin-left: 40%;
  }

  .price_filter {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .filter_options h3 {
    width: 100%;
  }

  .container_products {
    display: flex;
    flex-direction: column;
    align-items:center;
  }

  .div_products {
    width: 70%;
    margin-bottom: 5%;
  }
}

@media screen and (min-width: 450px) and (orientation:landscape) {
  header {
    font-size: 150%;
    height: 20vh;
  }

  .logo_img {
    width: 15%;
  }

  .menu {
    width: 80%;
  }

  .filter_options {
    font-size: 100%;
    float: left;
    width: 20%;
    margin-left: 2%;
  }

  .filter_options h3 {
    width: 100%;
    padding-left: 4%;
    padding-right: 4%;
  }

  .filter_reset {
    margin-top: 5%;
  }

  .price_filter {
    display: flex;
    justify-content: space-around;
  }

  .seller_filter {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .seller {
    margin-top: 5%;
  }

  .container_products {
    float: right;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    width: 70%;
    grid-gap: 4%;
    padding-right: 4%;
    padding-left: 1%;
    border-left: 1px solid var(---orange);
  }

  .div_products {
    width: 90%;
    height: 100%;
    margin-right: 2%;
  }
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background: linear-gradient(
    0deg, var(---orange) 0%, var(---pink) 100%
  );
  width: 100%;
  display: flex;
  align-items: center;
}

.menu_options {
  display: flex;
  justify-content:space-around;
  list-style-type: none;
  font-family: "BrittanySignature";
}

.menu_option {    
  text-decoration: none;
  color: var(---black);
  cursor: pointer;
}

header li:hover {
  background-color: var(---purple);
  border-radius: 10%;
}

.filter_options {
  font-family: "IndieFlower";
}

.seller {
  margin-bottom: 5%;
}

#seller {
  width: 59%;
}

.filter_reset, .submit {
    font-family: "IndieFlower";
    font-size: 65%;
    background: linear-gradient(0deg, var(---orange) 0%, var(---pink) 100%);
    cursor: pointer;
    border-radius: 7% ;
}

.price_input {
    width: 50%;
}

.filter_options h3  {
  text-align: center;
  box-shadow: 2px 4px 16px var(---purple-shadow);
  border-radius: 5%;
}

p {
  margin: 0;
}

select:hover, input:hover {
  background-color: var(---orange-shadow);
  cursor: pointer;
}

.product_img {
    width: 70%;
}

.container_products {
    font-family: "IndieFlower";
    padding-top: 2%;
    height: 100%;
}

.div_products {
    display: flex;
    flex-direction: column;
    align-items: center; 
    border-radius: 5%;
    cursor: pointer;
    padding: 2%;
}

.div_products:hover {
  transform: scale(1.05);
  transition: all 0.3s ease;
  box-shadow: 2px 4px 16px var(---pink);
}